.item{
    border: 3px solid red;
    display: flex;
    height: 100px;
    /* width: 100px; */
    
}
.container{
    border: 3px solid blue;
    display: grid;
    /* flex-flow: column-reverse; */
    grid-template-columns: 1fr 2fr ;
    grid-gap: 1rem;
    padding: 1rem;
}