@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');  /* this is known as import rule*/

*{
    font-family: "Robot Slab",Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* div{
    border:px dashed rgb(179, 17, 17);
} */
.header{
    background-color: #2E0249;
    border-bottom: 2px solid #5FD068;
}
.container{
    /* display: flex; */
}
.logo{
    color: #F806CC;
    padding: 1.5rem;
    margin: 0px;


}
.heading{
    color: #FF6FB5;
    padding: 1.2rem;
}
body{
    margin:0px;
    background-color: #F5DF99;
}
.footer{
    /* background-color: yellow;
    border:dashed rgb(179, 17, 17); */
    color: #F806CC;
    background-color: #2E0249;
    padding: 1.2rem;

    /* clear: both; */

}
.category-column{
    width: 25%;
    /* float: left; */
    padding: 2px;
    /* background-color: aqua; */
}
.content-column{
    width: 50%;
    /* float: left; */
    padding: 2px;
    /* background-color: blue; */
}
.weather-column{
    padding: 2px;
    width: 25%;
    /* float: left; */
    /* background-color: green; */
}
.content{
    border: 2px solid #55D8C1;
    border-radius: 5px;
    /* padding-left: 1.2rem;
    padding-right: 1.2rem; */

    /* margin:1.2rem; */
}
.container{
    display: flex;
}
.content-item, .category-item{
    /* padding-top: 0.6rem;
    padding-bottom: 0.6rem; */
    color: #2E0249;
    margin: 1.2rem;

}
.content-item:hover{
    color:#55D8C1;
    cursor: pointer;
    text-decoration: underline;
}
.category-item:hover{
    color:#F806CC;
    cursor: pointer;
    text-decoration: underline;
}
.degree{
    text-align: center;
    font-size: 5rem;
    color: #F806CC;
}