*{
    box-sizing: border-box;
    margin: 0rem;
}
.container{
    border: 2px solid red;
}
.item{
    border: 2px solid blueviolet;
    width: 200px;
    height: 200px;
    position: static;

}
/* .item2{
    position: relative;
    top: 2rem;
    left: 3rem;
} */
.item3{
    position: fixed;
    right: 0rem;
}
.item1{
    background-color: aqua;
    color: black;
    position: sticky;
    width: 100%;
    top: 0em;
    left: 0cm;
}